    :root {
      --mainColor: #2A587A;
      --notMain: #dedfe0;
      --text: #4f5259;
      --other: #9da6c6;
      --anotherBlue: #6E9ABA;
      --eddyWhite: #fbfbf0;
      /* #F0F6FA */


    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
  
      body {
        font-family: Arial, sans-serif;
        background-color: var(--eddyWhite);
        background-color: var(--notMain);
        background-color: #fff;
        color: var(--text);
        line-height: 1.6;
      }
  
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: var(--notMain);
        border-bottom: 1px solid #ddd;
      }
  
      header img {
        height: 40px;
      }
  
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* height: calc(100vh - 100px); */
        text-align: center;
        padding: 20px;
      }
  
      main h1 {
        font-size: 2.5rem;
        color: var(--text);
        margin-bottom: 20px;
      }
  
      main p {
        font-size: 1.2rem;
        margin-bottom: 30px;
      }
  
      .download-btn {
        background-color: var(--mainColor);
        color: #fff;
        border: none;
        padding: 10px 40px;
        font-size: 1.5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
  
      .download-btn:hover {
        background-color: var(--anotherBlue);
      }
  
      footer {
        position: fixed;
        bottom: 0px;
        text-align: center;
        padding: 20px;
        background-color: var(--eddyWhite);
      }
  
      footer a {
        color: var(--text);
        text-decoration: none;
        margin: 0 10px;
      }
  
      footer a:hover {
        text-decoration: underline;
      }